header {
  width: 100%;
  background-color: #161616;
  z-index: 999;
}

#fixedHeader {
  color: #fff;
  width: 100%;
  top: -80px;
  transition: top 0.3s ease-in-out;
  border-bottom: 1px solid #161616;
  position: sticky;
}

header .headerChild {
 max-width: 1400px;
 margin: 0 auto;
 display: flex;
 justify-content: space-between;
}

header .headerChild:nth-child(1) {
  display: flex;
  justify-content: space-between;
  padding: 30px 10px;
  align-items: center;
}

header .headerChildLogo a {
  width: 100%;
  height: 100%;
  display: block;
}

header .headerChild .headerChildLogo {
  width: 200px;
  min-width: 200px;
}

header .headerChild .headerChildLogo img {
  width: 100%;
}

header .headerChild .headerChildNavigation nav ul {
  width: 100%;
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

header .headerChild .headerChildNavigation nav ul li a {
  font-size: 1em;
  text-transform: uppercase;
  position: relative;
}

header .headerChild .headerChildNavigation nav ul li span {
  font-weight: bold;
  margin-left: 5px;
  font-size: 1.1em;
}

header .headerChild .headerChildNavigation nav ul li {
  padding-bottom: 5px;
  border-bottom: 2px solid transparent;
  transition: 0.2s;
}

header .headerChild .headerChildNavigation nav ul li a {
  color: white;
  transition: 0.2s;
}

header .headerChild .headerChildNavigation nav ul li:hover {
  padding-bottom: 5px;
  border-bottom: 2px solid #d16527;
}

header .headerChild .headerChildNavigation nav ul li:hover a {
  color: #d16527;
}

header .headerChild .headerChildCall button {
  padding: 10px 0;
  background-color: transparent;
  width: 200px;
}

header .headerChild .headerChildCall button:hover {
  background-color: #d16527;
}
