.maintenance {
  width: 100%;
}

.maintenance .maintenanceChild {
  padding: 30px 10px;
  margin:  0 auto;
  max-width: 1400px;
}

.maintenanceName {
  width: 100%;
  margin-bottom: 50px;
}

.maintenanceLine {
  width: 100%;
  height: 2px;
  background-color: #242424;
  transition: 0.3s;
  margin-top: 30px;
}

.maintenanceName h3 {
  text-transform: uppercase;
  width: 100%;
}

.maintenance:hover .maintenanceLine {
  background-color: #d16527;
}

.maintenanceVideo {
  width: 100%;
  position: relative;
  aspect-ratio: 1 / 0.5;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../img/videoBackgorund.jpg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.maintenanceVideo button,
.maintenanceVideo .back {
  position: absolute;
}

.maintenanceVideo .back {
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: black;
  opacity: 0.7;
  background-color: #242424;
}

.maintenanceVideo button {
  z-index: 11;
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.maintenanceVideo button .play {
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.5);
  clip-path: polygon(100% 50%, 0 0, 0 100%);
}

.maintenanceVideo button:hover {
  background-color: transparent;
}

