.pricing {
  width: 100%;
}

.pricing .pricingChild {
  padding: 30px 10px;
  display: flex;
  gap: 10px;
  margin: 0 auto;
  max-width: 1400px;
}

.afforablePricingPlans {
  width: 30%;
}

.plans {
  display: flex;
  gap: 50px;
  width: 70%;
  justify-content: space-between;
  align-items: center;
}

.afforablePricingPlans h3 {
  text-transform: uppercase;
  margin-bottom: 30px;
}

.pricingPlans {
  width: 100%;
  padding: 40px;
  background-color: #121212;
}

.afforablePricingPlans p {
  font-size: 1.1em;
  margin-bottom: 20px;
}

.afforablePricingPlans ul {
  list-style-type: none;
  font-size: 1.1em;
  color: white;
}

.afforablePricingPlans ul li {
  margin-bottom: 20px;
}

.afforablePricingPlans ul li::before {
  content: "\220E";
  color: #d16527;
  font-weight: bold;
  font-size: 0.9em;
  display: inline-block;
  width: 15px;
}

.pricingPlans .pl-ans {
  text-align: center;
  font-size: 1em;
  opacity: 0.5;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.pricingPlans {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.pricingPlans h5 {
  font-size: 1em;
  font-weight: 400;
  margin-bottom: 10px;
}

.pricingPlans .pricingPlansLine {
  width: 50%;
  height: 2px;
  background-color: #474747;
  margin: 20px 0;
}

.pricingPlans ul {
  list-style-type: none;
  font-size: 1.1em;
  width: 100%;
  letter-spacing: 1px;
}

.pricingPlans ul li {
  margin-bottom: 20px;
  opacity: 0.5;
  display: flex;
  justify-content: space-between;
}

.pricingPlans .active {
  opacity: 1;
}

.pricingPlans ul i::before {
  content: "\2714";
}

.pricingPlans button {
  padding: 15px 35px;
  width: 100%;
}

.pricingPlans button:hover {
  background-color: transparent;
}

