* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "chakraPetch";
  src: url(../assets/fonts/ChakraPetch-Regular.ttf);
}

*::after,
*::before {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

body {
  font-size: clamp(12px, 2.5vw, 15px);
  color: white;
  background-color: #161616;
  font-family: "chakraPetch", sans-serif !important;
  scroll-behavior: smooth !important;
}

span {
  color: #d16527;
  font-family: "chakraPetch", sans-serif !important;
}

a {
  text-decoration: none;
  color: unset;
  font-size: 14px;
}

p {
  font-size: 14px;
  color: white;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.5em;
}

button {
  font-family: "chakraPetch", sans-serif !important;
}

button {
  font-size: 1.1em;
  background-color: #d16527;
  border: 2px solid #d16527;
  color: white;
  letter-spacing: 2px;
  text-wrap: nowrap;
  cursor: pointer;
  transition: 0.3s;
  text-transform: uppercase;
}



