.title {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title .titleChild {
  max-width: 1400px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  padding: 30px 10px;
  margin-top: 100px;
  align-items: center;
  position: relative;
  gap: 50px;
}

.titleChildAdvantages {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
  align-items: center;
  position: relative;
  gap: 100px;
  width: 100%;
  background-color:  #121212;
}

.title .titleChild:nth-child(1) {
  height: 470px;
}

.titleName {
  width: 50%;
}
.titleImageCar {
  position: relative;
  width: 60%;
  max-width: 800px;
  height: 100%;
  padding-top: 50px;
  animation: 1.5s ease-in-out 1s infinite alternate car;
  transform: translateY(0px);
  z-index: 110;
  transition: 0.5s all;
}

@keyframes car {
  from {
    transform: translateY(20px);
  }
  to {
    transform: translateY(0);
  }
}

.imageLeft,
.imageRight {
  z-index: 999;
}

.imageLeft,
.imageRight,
.imageCar,
.imageCenter {
  position: absolute;
  transition: 0.5s all;
  width: 100%;
}

.imageLeft img,
.imageRight img,
.imageCar img,
.imageCenter img {
  width: 100%;
}

.imageCar {
  width: 100%;
  z-index: 100;
}

.imageCenter {
  z-index: 110;
}

.imageCenter img {
  width: 100%;
}

.titleName h1 {
  width: 100%;
  margin-bottom: 20px;
  font-size: 66px;
  text-transform: uppercase;
  text-wrap: nowrap;
}

.titleName p {
  font-size: 18px !important;
  line-height: 30px !important;
}

.titleImageCar .imageLeft,
.titleImageCar .imageRight {
  display: flex;
  opacity: 0;
}

.titleImageCar:hover .imageLeft,
.titleImageCar:hover .imageRight {
  display: flex;
  opacity: 1;
}

.mherMotors {
  position: absolute;
  z-index: -1;
  text-align: right;
  right: 0;
  top: -50px;
  margin-right: 20px;
  opacity: 0.5;
}

@font-face {
  font-family: "mherMotors";
  src: url(../assets/fonts/ChakraPetch-Bold.ttf);
}
.mherMotors p {
  font-size: 13em;
  text-transform: uppercase;
  color: #161616;
  font-weight: bold;
  font-family: "mherMotors", sans-serif;
  -webkit-text-stroke: 2px rgba(255, 255, 255, 0.1);
}

.titleName button {
  padding: 15px 0;
  margin-top: 20px;
  width: 300px;
  min-width: 100px;
}
.titleName button:hover {
  background-color: transparent;
}
/* advantages */
.advantages {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
  margin: 0 auto;
  padding: 40px 10px;
}

.advantages .advantagesContent {
  width: 25%;
  height: 200px;
}

.advantages .advantagesContent h2 {
  font-size: 4em;
}

.advantages .advantagesContent p {
  font-size: 18px;
  margin-top: 25px;
}

.advantages .advantagesContent .advantagesContentLine {
  width: 100%;
  height: 2px;
  background-color: #242424;
}
